.contenedor {
  width: 350px;
  height: 400px;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px 1px rgb(0, 0, 0);
  
  
}

.img {
  width: 150px;
  height: 3500px;
  border-radius: 5px;
}

.boton {
  width: 100px;
  height: 25px;
  color: black;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #131313;
  background-color: #fe4848;
}
.boton:hover {
  cursor: pointer;
  background-color: #131313;
}
