.boton {
  width: 90px;
  height: 25px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #000000;
  background-color: #fe4848;
}
.boton:hover {
  cursor: pointer;
  background-color: #fe4848;
}
.botonSideBar {
  color: black;
  font-size: 19px;
  text-decoration: none;
}
.botonSideBar:hover {
  cursor: pointer;
}
.botonIniciarSesion {
  width: 105px;
  height: 29px;
  margin-left: 20px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  border: 0px solid transparent;
  border-radius: 10px;
  text-decoration: none;
}