#root {
  margin: 0;
  background-color: white;
}

.container {
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-direction: row;
}
.contenedorPrincipal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorProductos {
  width: 100%;
  min-height: 690px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.error {
  margin-top: 300px;
  text-align: center;
}
.footer{
  width: 100%;
  z-index: 15;
  
}
